// =============================================
// Mixin - Breakpoint
// =============================================
/*doc
---
title: Breakpoint Mixin
name: bp-mixin
category: Other - Mixins
---
```html_example_table
@mixin bp($feature, $value) {
}
```
*/

@mixin bp($value, $feature: min-width) {
  // Set global device param
  $media: only screen;
    @media #{$media} and ($feature: $value) {
      @content;
    }
}