%button {
  width: 100%;
  display: inline-block;
  padding: $button__padding;
  vertical-align: middle;
  font-size: $button-font-size;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.2;
  border-width: $button__border-width;
}

@mixin button__primary {
  @extend %button;
  border: 2px solid $button__primary-border-color;
  color: $button__primary-color;
  background-color: $button__primary-background-color;
  text-decoration: none;
  transition: all .2s ease-in-out;


  &:visited {
    color: $button__primary-color;
  }
  
  &:hover,
  &:focus {
    color: $button__primary-color__hover;
    background-color: $button__primary-background-color__hover;
    border:2px solid $button__primary-border-color__hover;
  }
}