// Page Layout styles

body {
	background-color: $page_background-color;
}

// Buttons
.button {
  &--primary {
    @include button--primary;
  }
}

// Links 
a {
  text-decoration: $link__text-decoration;
  color: $link__color;
  font-weight: $link__font-weight;
  border-bottom: $link__border-bottom;
  transition: color .2s ease-in-out;

  &:visited {
  	color: $link__color;
  }

  &:hover,
  &:focus  {
	color: $link__hover-color;
  	border-bottom: $link__border-bottom__hover;
  }
}

// List styles
ul {
	padding: 0;
	list-style: none;
	font-size: $font-size__base - 2;
	text-align: left;

	li {
		margin-bottom: 5px;
	}
}

.component__title {
	text-align: center;
}

.component__wrapper .container {
	> ul {
		display: flex;
		flex-direction: column;

		@include bp($bp-small) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

		@include bp($bp-medium) {
			justify-content: space-between;
		}

		> li {
			width: 250px;
			margin-bottom: 20px;
			margin-left: auto;
		    margin-right: auto;

			@include bp($bp-small) {
				flex-basis: calc(50% - 40px);
				max-width: 250px;
			    margin-left: 20px;
			    margin-right: 20px;
			}

			@include bp($bp-medium) {
				flex-basis: calc(33.33% - 40px);
			}

			@include bp($bp-desktop) {
				max-width: 300px;
			}
		}
	}
}

// Add Card Form
.component__form {
    form {
    	padding: 30px;
	    padding-top: 0;

    	@include bp($bp-medium) {
    		max-width: $form__max-width;
    	}
    }
}
