/* ============================================ *
* FORMS - COMMON
* ============================================ */
form {
  box-sizing: border-box;
}

label,
.label {
  margin-bottom: 40px;
  font-size: $font-size__base;
  line-height: 1.2;
  color: $c-black;
  letter-spacing: 0;
  pointer-events: none;

  @include bp($bp-medium) {
    font-size: 20px;
    line-height: 1.14;
  }

  &.required {
    &::after {
      content: '*';
      position: absolute;
      color: red;
      font-size: 14px;
    }
  }
}

.required-message {
  float: left;
  margin-bottom: 10px;
  font-size: $font-size__base - 3;
  color: red;
}

fieldset {
  clear: left;
  margin-bottom: 20px;
  padding: 0;
  border: none;
}

.field {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}


input,
textarea {
  width: 100%;
  height: 50px;
  border: 2px solid $c-black;
  margin-top: 5px;
  border-radius: 0;
  appearance: none;
  box-sizing: border-box;
  font-size: $font-size__base;
}

.custom-input {
  position: relative;

  &.filled {
    padding-top: 50px;
    padding-bottom: 0px;
    transition: 0.2s ease all;
  }

  .label {
    position: absolute;
    top: 20px;
    transition: 0.2s ease all;

    &.filled-input-label {
      top: 20px;
      transition: 0.2s ease all;

      &.invalid {
        color: $c-dark-gray;
      }
    }

    &.invalid {
      color: $c-white;
    }
  }

  .validation-message {
    display: none;
    font-size: 14px;
    line-height: 1.42;
    color: red;

    @include bp($bp-medium) {
      font-size: 18px;
      line-height: 2;
    }

    &.visible {
      display: block;
    }
  }

  input:not([type=checkbox]):not([type=radio]),
  textarea {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 3px solid $c-dark-gray;
    font-size: 20px;
    line-height: 1.2;
    color: $c-dark-gray;
    text-indent: 10px;
    background-color: transparent;

    @include bp($bp-medium) {
      font-size: 28px;
      line-height: 1.14;
    }

    &.filled-input {
      margin-top: 0;
      outline: none;
      background-color: $c-white;
      transition: 0.2s ease all;
    }

    &.invalid,
    &.filled-input.invalid {
      // @extend %error;
      transition: 0.2s ease all;
    }

    &.invalid + label {
      padding-left: 10px;
      color: $c-white;
    }
  }

  &--checkbox {
    position: relative;
    display: block;
    padding: 10px 0;
    padding-left: 40px;
    margin-bottom: 15px;
    cursor: pointer;

    input {
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      z-index: 1;
      opacity: 0;

      + label {
        cursor: pointer;
        line-height: 1.2;
        color: $c-black;

        &:before,
        &:after {
          position: absolute;
        }
      }
    }

    input[type="checkbox"] {
      + label {
        &:before {
          left: 0;
          width: 20px;
          height: 20px;
          border: 2px solid $c-black;
          content: '';
          background-color: $c-white;
        }

        &:after {
          top: 14px;
          left: 4px;
          width: 0;
          height: 0px;
        }
      }

      &:checked {
        + label {
          &:after {
            border: 8px solid $c-black;
            content: '';
          }
        }
      }
    }
  }
}

.validation-advice {
  display: none;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0;
  color: red;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 10px 10px 10px 5px;
}